@model Contacts.Models.Contact
@{
	ViewBag.Title = "Contact Detail";
}
<head>
	<!-- styles -->
	<link href="~/Content/styles/Contact.css" rel="stylesheet" />
   
	<!-- scripts -->
</head>
<body>
	<div class="contact center">
		<div class="contact-box">
			<h1 class="title">Koyun Mania</h1>
			<div class="blocks">
                <ul>
					<li>
						<em class="input_caption">@Html.DisplayNameFor(model => model.Name)</em><span class="display_field">@Html.DisplayFor(model => model.Name)</span>
					</li>
					<li>
						<em class="input_caption">@Html.DisplayNameFor(model => model.PhoneNum)</em><span class="display_field">@Html.DisplayFor(model => model.PhoneNum)</span>
					</li>
					<li>
						<em class="input_caption">@Html.DisplayNameFor(model => model.Email)</em><span class="display_field">@Html.DisplayFor(model => model.Email)</span>
					</li>
                    <li>
                        <a href="@Url.Action("Index")" class="save_button">Back</a>
                    </li>
				</ul>
				<div class="logo">
					<img src="assets/images/user_default.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>
</body>
